* {
  margin: 0px auto;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1140px;
  margin: 0px auto;
}

body {
  cursor: pointer;
}
.count {
  width: 155px;
  margin-top: 90px;
  height: 72px;
  margin-left: 123px;
  border-radius: 5px;
  border: none;
  background-color: white;
  color: rgb(17, 5, 5);
  font-size: 22px;
  /* font-weight: 500px; */
}
.reset {
  margin-top: 7px;
  margin-left: 240px;
  width: 40px;
  height: 40px;
  color: white;
  background-color: indigo;
  border-radius: 50%;
  border: none;
  font-size: 11px;
  text-transform: capitalize;
}
.flex {
  background-image: url(./img/photo_2023-05-01_16-06-41.jpg);
  background-repeat: no-repeat;
  background-size: 400px;
  height: 400px;
  margin-left: 30%;
}
.start {
  width: 103px;
  height: 103px;
  border-radius: 50%;
  background-color: rgb(36, 195, 36);
  border: none;
  margin-left: 150px;
  color: white;
  font-size: 20px;
}
.start:active {
  background-color: red;
}

@media (max-width: 576px) {
  .container {
    width: 100%;
    margin: 0px auto;
  }

  body {
    cursor: pointer;
  }
  .count {
    width: 155px;
    margin-top: 90px;
    height: 72px;
    margin-left: 123px;
    border-radius: 5px;
    border: none;
    background-color: white;
    color: rgb(17, 5, 5);
    font-size: 22px;
    /* font-weight: 500px; */
  }
  .reset {
    margin-top: 7px;
    margin-left: 240px;
    width: 40px;
    height: 40px;
    color: white;
    background-color: indigo;
    border-radius: 50%;
    border: none;
    font-size: 11px;
    text-transform: capitalize;
  }
  .flex {
    background-image: url(./img/photo_2023-05-01_16-06-41.jpg);
    background-repeat: no-repeat;
    background-size: 400px;
    height: 400px;
    margin-left: 0px;
    margin-top: 50%;
  }
  .start {
    width: 103px;
    height: 103px;
    border-radius: 50%;
    background-color: rgb(36, 195, 36);
    border: none;
    margin-left: 150px;
    color: white;
    font-size: 20px;
  }
  .start:active {
    background-color: red;
  }
}
